.u-section-1 .u-sheet-1 {
  min-height: 885px;
}

.u-section-1 .u-text-1 {
  margin: 94px auto 60px 20px;
}

body {
  background-image: url("templates/map.html");
  background-size: cover;
  background-attachment: fixed;

}