 .u-section-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 133px auto 0;
}

.u-section-1 .u-form-1 {
  height: 191px;
  width: 404px;
  margin: 25px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}